@use "./reset";
@use "variables/global";
@use "./themes/dark";
@use "./themes/light";

.app,
.app_modal {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
}

.container-content {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
}
