.sidebar {
  position: relative;
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-higth));
  transition: width .3s;
  background-color: var(--revert-bg-color);
}

.navigation_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  margin: 0;
}

.btmTheme {
  position: absolute;
  right: -40px;
  bottom: 100px;
}

.icon {
  fill: var(--revert-primary-color);
}

.link {
  margin-left: 10px;
  opacity: 1;
  transition: 0.4s opacity;
}

.theme {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  bottom: 20px;
  justify-content: center;
  width: 100%;
}

.collapsed {
  width: var(--sidebar-width-collased);

  .theme {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .link {
    opacity: 0;
    transition: 0.2s opacity;
    width: 0;
  }
}
