/* Error: This file is already being loaded.
 *   ,
 * 3 | @import "themes/dark";
 *   |         ^^^^^^^^^^^^^
 *   '
 *   ..\index.scss 3:9  @import
 *   dark.scss 1:9      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: This file is already being loaded.\a   \2577 \a 3 \2502  @import "themes/dark";\d\a   \2502          ^^^^^^^^^^^^^\a   \2575 \a   ..\\index.scss 3:9  @import\a   dark.scss 1:9      root stylesheet';
}
