@import "../variables/global";

.app_dark_theme {
  --bg-color: #{$dark};
  --revert-bg-color: #{$lite};
  --primary-color: #{$primary};
  --secondary-color: #{$secondary};
  --revert-primary-color: #{$primary-dark};
  --revert-secondary-color: #{$secondary-dark};
}
