.appLink {
  margin-right: 20px;
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--secondary-color);
}

.revert_primary {
  color: var(--revert-primary-color);
}

.revert_secondary{
  color: var(--revert-secondary-color);
}
